@model MWeb_test.Models.Userss

@{
    ViewData["Title"] = "Create";
}
@{
    Layout = "";
}
    <div style="text-align:center">
        <h1>Create your account</h1>
    </div>
    <h4>User</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" placeholder="Enter your user name" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserEmail" class="control-label"></label>
                    <input asp-for="UserEmail" placeholder="Enter your email here" class="form-control" />
                    <span asp-validation-for="UserEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserPassword" class="control-label"></label>
                    <input asp-for="UserPassword" placeholder="Enter your password here" class="form-control" />
                    <span asp-validation-for="UserPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserStatus" class="control-label"></label>
                    <input type="hidden" value="Not verified" asp-for="UserStatus" class="form-control" />
                    <span asp-validation-for="UserStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
<div>
    <a href="/Home">Back to main page</a>
</div>
<link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/**/*.min.css"
      asp-href-exclude="**/*-reboot*,**/*-grid*" />
<link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
