@model IEnumerable<MWeb_test.Models.Markers>

@{
    Layout = "";
}

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="~/css/Style.css">
<link rel="stylesheet" type="text/css" href="~/css/Buttons.css" />
<link rel="stylesheet" type="text/css" href="~/css/Panels.css" />
<script src="~/js/Map.js"></script>
<script src="~/js/UI.js"></script>
<script src="~/js/PanelData.js"></script>
<script src="~/jquery/jquery-3.4.1.js"></script>
<script src="~/bootstrap/dist/js/bootstrap.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<html>
<head>
    <style>
    </style>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Play with google map api</title>
</head>
<body>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <div>

        <div id="map"></div>
        <div id="LoginSidePanel" class="sidepanel">
            <div style="padding: 50px 20% 0 2%">
                <form action="" method="post">
                    <div id="LoginContainer">
                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>

                        <button type="submit">Login</button>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                    </div>

                    <div id="LoginContainer" style="background-color:#f1f1f1">
                        <span class="psw">Forgot <a href="#">password?</a></span>
                    </div>
                    <a href="/Usersses/Create">Register</a>
                    <a href="/Home/Privacy">Privacy notice</a>
                </form>
            </div>
        </div>

        <div id="OptionPanel" class="sidepanel">
            <div style="padding: 50px 5% 0 2%">
                Here comes Option page
            </div>
        </div>

        <div id="LeftHamburger" class="leftSidepanel">
            <div id="insideLeftHamburger" style="padding-top: 50px; text-align:center">
                <div id="imageBag" class="carousel slide" data-ride="carousel">
                </div>
            </div>
        </div>

        <div class="pac-card" id="pac-card">
            <button id="leftHamburger" title="details" onclick="toggleLeftHamburger()">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     width="20" height="20"
                     viewBox="0 0 172 172"
                     style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-size="none"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#3498db"><path d="M21.5,78.83333h129v14.33333h-129zM21.5,35.83333h129v14.33333h-129zM21.5,121.83333h129v14.33333h-129z"></path></g></g>
                </svg>
            </button>
            <div id="pac-container">
                <input id="pac-input" class="controls" type="text" placeholder="Search Box">
            </div>
        </div>

        <button id="Log-in_Button" title="Sign in" onclick="toggleLoginSidePanel()">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="25" height="25"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-size="none" ; margin:20px 0px;"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M44.72,0c-5.65694,0 -10.32,4.65923 -10.32,10.32v65.36h6.88v-65.36c0,-1.94163 1.50142,-3.44 3.44,-3.44h116.96c1.93858,0 3.44,1.49837 3.44,3.44v151.36c0,1.9365 -1.5035,3.44 -3.44,3.44h-116.96c-1.9365,0 -3.44,-1.5035 -3.44,-3.44v-65.36h-6.88v65.36c0,5.65902 4.66098,10.32 10.32,10.32h116.96c5.65902,0 10.32,-4.66098 10.32,-10.32v-151.36c0,-5.66077 -4.66306,-10.32 -10.32,-10.32zM75.82781,45.06265c-1.39859,0.00309 -2.65612,0.85256 -3.18113,2.14887c-0.52501,1.29631 -0.21302,2.78145 0.78926,3.75691l31.58485,31.59156h-101.58078c-1.24059,-0.01754 -2.39452,0.63425 -3.01993,1.7058c-0.62541,1.07155 -0.62541,2.39684 0,3.46839c0.62541,1.07155 1.77935,1.72335 3.01993,1.7058h101.58078l-31.59156,31.59156c-0.89864,0.86282 -1.26063,2.14403 -0.94636,3.34954c0.31427,1.2055 1.25569,2.14693 2.4612,2.4612c1.20551,0.31427 2.48672,-0.04772 3.34954,-0.94636l39.89594,-39.89594l-39.88922,-39.89594c-0.64928,-0.66743 -1.54136,-1.04317 -2.4725,-1.04141z"></path></g></g>
            </svg>
        </button>
        <button id="upload_button" title="Upload Marker">
            <a href="/Markers/Create">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     width="25" height="25"
                     viewBox="0 0 172 172"
                     style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-size="none"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#3498db"><path d="M86,2.0425l-2.4725,2.365l-27.52,27.52c-1.37062,1.37063 -1.37062,3.57438 0,4.945c1.37063,1.37063 3.57438,1.37063 4.945,0l21.6075,-21.6075v94.815c-0.01344,1.23625 0.63156,2.39188 1.70656,3.02344c1.075,0.61813 2.39187,0.61813 3.46687,0c1.075,-0.63156 1.72,-1.78719 1.70656,-3.02344v-94.815l21.6075,21.6075c1.37063,1.37063 3.57438,1.37063 4.945,0c1.37063,-1.37062 1.37063,-3.57437 0,-4.945l-27.52,-27.52zM24.08,55.04v116.96h123.84v-116.96h-34.4c-1.23625,-0.01344 -2.39187,0.63156 -3.02344,1.70656c-0.61813,1.075 -0.61813,2.39187 0,3.46687c0.63156,1.075 1.78719,1.72 3.02344,1.70656h27.52v103.2h-110.08v-103.2h27.52c1.23625,0.01344 2.39188,-0.63156 3.02344,-1.70656c0.61813,-1.075 0.61813,-2.39187 0,-3.46687c-0.63156,-1.075 -1.78719,-1.72 -3.02344,-1.70656z"></path></g></g>
                </svg>
            </a>
        </button>
        <button id="Hamburger_button" title="Options" onclick="toggleOptionSidePanel()">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="27" height="27"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-size="none"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#3498db"><path d="M21.5,78.83333h129v14.33333h-129zM21.5,35.83333h129v14.33333h-129zM21.5,121.83333h129v14.33333h-129z"></path></g></g>
            </svg>
        </button>
        <div id="googleLogo">
            <img src="https://maps.gstatic.com/mapfiles/api-3/images/google4_hdpi.png" style="z-index:100">
        </div>


    </div>
    <script>
        var markers = [];
        var LatLngCollection = JSON.parse('@Html.Raw(Json.Serialize(Model))');
        var photoWindow, thisMarker;
        function setMarkers() {
            for (var i = 0; i < LatLngCollection.length; i++) {
                thisMarker = new google.maps.Marker({
                    position: new google.maps.LatLng(LatLngCollection[i].markerLat, LatLngCollection[i].markerLng),
                    map: map
                })
                markers.push(thisMarker);
                attachPhoto(thisMarker, LatLngCollection[i].photoPath);
            }
        }

        function attachPhoto(marker, markerContent) {
            var infowindow = new google.maps.InfoWindow({
                content: '<img src=https://mwebimagestor.blob.core.windows.net/images/' + markerContent + ' / img>'
            });

            marker.addListener('click', function() {
              infowindow.open(marker.get('map'), marker);
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbjx5U78SGpevXKDEYCrcYT02y-81KG3Q&libraries=geometry,places&callback=initMap">
    </script>
</body>
</html>