@model MWeb_test1.Models.Marker

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Marker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MarkerId" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarkerLat" class="control-label"></label>
                <input asp-for="MarkerLat" class="form-control" />
                <span asp-validation-for="MarkerLat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarkerLng" class="control-label"></label>
                <input asp-for="MarkerLng" class="form-control" />
                <span asp-validation-for="MarkerLng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoPath" class="control-label"></label>
                <input asp-for="PhotoPath" class="form-control" />
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarkerJson" class="control-label"></label>
                <input asp-for="MarkerJson" class="form-control" />
                <span asp-validation-for="MarkerJson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
